      <div class=wallpaper>
        <div id="menu2" class="big-bg">
              <header class="header">
            <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
            <div class="user-sign_in">
            <div class=login_user_link>
              あなたのブックレビュー
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout' %>
          </div>
          </div>
    <% else %>
    <div class=user-sign_in>
    <div class=login_user_link>
    <%= @user.nick_name %> さんのブックレビュー
    </div>
    </div>
    <% end %>
    <% else %>
    <div class=user-sign_in>
    <div class=login_user_link>
    <%= @user.nick_name %> さんのブックレビュー
    </div>
    </div>
    <% end %>
    </header>
    <div class=user_image_profile>
    <div class=user_image>
    <%= image_tag 'user_icon.jpeg', size: "150x150" %>
    <p class=user_name_under_image><%= @user.nick_name =%></p>
    </div> 
    <div class=user_profile>
    <p class=profile_text>
    <%= @user.profile %>
    </p>
    </div>
    </div>
        <div class="wrapper grid2">
        <% @reviews.each do |review| %>
            <div class="review_item">
            <%= link_to "/reviews/#{review.id}", class: "review_link_to" do %>
          <img src="<%= review.image %>" alt="">
          <div class=review_book_name>
          <p><%= "#{review.name}" %>
          </p></div>
          <% end %>
            </div>
        <% end %>
        <%= paginate(@reviews) %>
      </div>
      </div>
        <footer>
            <div class="wrapper">
                <p><small>&copy; 2019 Nagao</small></p>
            </div>
        </footer>