      <div class=wallpaper>
        <div id="menu" class="big-bg">
              <header class="header">
          <div class="user-sign_in">
            <% if user_signed_in? %>
              <div class="login_user_link">
    <nav>
      <button class=category_button><i class="fas fa-bars"></i>
      </button>
      <ul class=category>
      <%= link_to "#", class: "category_link" do %>
      <li>コンピュタ・IT</li>
      <% end %>
      <%= link_to "#", class: "category_link" do %>
      <li>文学・評論</li>
      <% end %>
      <%= link_to "#", class: "category_link" do %>
      <li>コミック</li>
      <% end %>
      <%= link_to "#", class: "category_link" do %>
      <li class=li_last>その他</li>
      <% end %>
      </ul>
    </nav>
    <div class=search_form>
    <%= form_with(model: @review, url: reviews_search_path, method: :get, local: true) do |f| %>
      <%= f.text_field :keyword, class: 'form__message', placeholder: ''%>
      <%= button_tag type: "submit", class: "search" do %>
    <i class="fas fa-search"></i>
    <% end %>
      <% end %>
      </div>
              </div>
              <nav>
                <button class=menu_button><span>Menu</span>
                <i class="fas fa-caret-down"></i>
                </button>
                <ul class=menu>
                <%= link_to "/users/#{current_user.id}", class: "menu_link" do %>
                <li><i class="fas fa-user"></i>マイページ</li>
                <% end %>
                <%= link_to "#", class: "menu_link" do %>
                <li><i class="far fa-comment"></i>コメント一覧</li>
                <% end %>
                <%= link_to "#", class: "menu_link" do %>
                <li><i class="far fa-heart"></i>いいね一覧</li>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "menu_link" do %>
                <li class=li_last><i class="fas fa-sign-out-alt"></i>ログアウト</li>
                <% end %>
                </ul>
              </nav>
    <% else %>
    <div class="user_link">
        <nav>
      <button class=category_button><i class="fas fa-bars"></i>
      </button>
      <ul class=category>
      <%= link_to "#", class: "category_link" do %>
      <li>コンピュタ・IT</li>
      <% end %>
      <%= link_to "#", class: "category_link" do %>
      <li>文学・評論</li>
      <% end %>
      <%= link_to "#", class: "category_link" do %>
      <li>コミック</li>
      <% end %>
      <%= link_to "#", class: "category_link" do %>
      <li class=li_last>その他</li>
      <% end %>
      </ul>
    </nav>
    <div class=search_form>
    <%= form_with(model: @review, url: reviews_search_path, method: :get, local: true) do |f| %>
      <%= f.text_field :keyword, class: 'form__message', placeholder: ''%>
      <%= button_tag type: "submit", class: "search" do %>
    <i class="fas fa-search"></i>
    <% end %>
    <% end %>
    </div>
    <div class=login_signup_button>
        <%= link_to new_user_session_path, class: 'login' do %>
        <i class="fas fa-sign-in-alt"></i><span>ログイン</span>
        <% end %>
        <%= link_to new_user_registration_path, class: 'registration' do %>
        <i class="fas fa-user-plus"></i><span>新規登録</span>
        <% end %>
    </div>
    </div>
    <% end %>
    </div>
    </header>
            <header class="page-header wrapper">
            </header>
            <div class="menu-content wrapper">
                <h2 class="page-title">BOOK SALON</h2>
                <span class = page-subtitle>
                    お気に入りの本を紹介しましょう！</span>
          <% if user_signed_in? %>
          <a class="cp_btn" href="#"><i class="fas fa-book"></i>本を登録する</a>
          <% end %>
          <a class="cp_btn" href="/reviews/new"><i class="fas fa-edit"></i>書評を書く</a>
            </div>
        </div>
        <div class = "brown_bar"></div>
        <% if Review.page(params[:page]) == Review.page(1)%>
          <p class = "New_Book_Reviws">New Book Reviews</p>
          <% end %>
        <div class="wrapper grid">

        <% @reviews.each do |review| %>
            <div class="review_item">
            <%= link_to "/reviews/#{review.id}", class: "review_link_to" do %>
          <img src="<%= review.image %>" alt="">
          <div class=review_book_name>
          <p><%= "#{review.name}" %></p>
          </div>
          <% end %>
            </div>
        <% end %>
      </div>
      <div class="paginate_box">
        <%= paginate(@reviews) %>
        </div>
        <footer>
            <div class="wrapper">
                <p><small>&copy; 2019 Nagao</small></p>
            </div>
        </footer>
