      <div class=wallpaper>
        <div id="menu" class="big-bg">
              <header class="header">
          <div class="user-sign_in">
            <% if user_signed_in? %>
              <div class="user_link">
              <%= link_to "/users/#{current_user.id}", class: "user_link_to" do %>
              ようこそ <%= current_user.nick_name %> さん
              <% end %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout' %>
          </div>
    <% else %>
    <div class="user_link">
        <%= link_to "ログイン", new_user_session_path, class: 'login' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'registration' %>
    </div>
    <% end %>
    </div>
    </header>
            <header class="page-header wrapper">
            </header>
            <div class="menu-content wrapper">
                <h2 class="page-title">BOOK SALON</h2>
                <span class = page-subtitle>
                    お気に入りの本を紹介しましょう！</span>
          <a class="cp_btn" href="/reviews/new">書評を書く</a>
            </div>
        </div>
        <% if Review.page(params[:page]) == Review.page(1)%>
          <p class = "New_Book_Reviws">New Book Reviews</p>
          <% end %>
        <div class="wrapper grid">

        <% @reviews.each do |review| %>
            <div class="item">
            <%= link_to "/reviews/#{review.id}", class: "review_link_to" do %>
          <img src="<%= review.image %>" alt="">
          <%= "#{review.name}" %>
          <% end %>
            </div>
        <% end %>
      </div>
      <div class="paginate_box">
        <%= paginate(@reviews) %>
        </div>
        <footer>
            <div class="wrapper">
                <p><small>&copy; 2019 Nagao</small></p>
            </div>
        </footer>
